body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #006747, #004d40);
    min-height: 100vh;
    margin: 0;
    color: rgba(9, 22, 24, 0.879);
    font-family: "Cedarville Cursive", serif;
    overflow: hidden;
}

/* Scrollbar track */
::-webkit-scrollbar {
    width: 1vh; /* Width of the scrollbar */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #d2c980; /* Color of the scrollbar */
    border-radius: 10px; /* Round corners */
}

/* Scrollbar when hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: #e2d788; /* Darker color when hovering */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
    background: none; /* Light color for the scrollbar track */
    border-radius: 8px; /* Round corners */
}
  

h1 {
    position: absolute;
    top: 10px;
    font-weight: bold;
    background: linear-gradient(80deg, #800080, #8B008B, #9932CC, #9400D3, #8A2BE2, #9370DB, #BA55D3, #DDA0DD, #EE82EE, #DA70D6, #D8BFD8, #DDA0DD
    , #D8BFD8, #DA70D6, #EE82EE, #DDA0DD, #BA55D3, #9370DB, #8A2BE2, #9400D3, #9932CC, #8B008B, #800080
    );
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 10s infinite linear;
    display: none;
}

h2 {
    color: #800080;
    font-weight: 700;
    margin-top: 10vh;
}

.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
    width: 42vh;
    background-color: rgb(254, 220, 177);
    margin: 0;
    transform: rotateZ(8deg);
    position: absolute;
    cursor: pointer;
    z-index: 999;
    background-image: url('res/cake-card.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-bottom {
    overflow: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(252, 232, 205);
    height: 65vh;
    width: 42vh;
    margin: 0;
    transform: rotateZ(8deg);
}

h3 {
    margin-left: 3vh;
    margin-top: 5vh;
    font-weight: 800;
    margin-bottom: 0;
}


.sunflower {
    cursor: pointer;
    user-select: none;
}

.sunflower:active {
    animation: rotateZ 8s infinite linear;
}

@keyframes rotateZ {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}
  
@keyframes rainbow {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
  }
  